<!-- The header with a binner, a herizontal menu bar and a search box -->
<div id='practice-header'>
  <p class="menu-bar">
    <span id='category-btn' class="menu-btn" (mouseover)="showMenuRow('category-row')">🗃️ Categories</span>
    <span id='usage-btn' class="menu-btn" (mouseover)="showMenuRow('usage-row')" (mouseleave)="hideMenuRows()">🙋‍♂️
      Usage</span>
    <a class="menu-btn" href="/character" title="Go to Character"><img src="assets/images/site/char.png" height="16px"
        alt="character" /> Character</a>
    <a class="menu-btn" href="#" title="Back to Home">🏠 Home</a>
  </p>

  <div id='word-search' class="search-word">
    <input type="text" id="search-word" name="word" (keypress)="enterKeyPressed($event)">
    <span class='search' (click)="searchWord()">🔍</span>
    <p id="search-error" class="search-error"></p>
  </div>

  <!-- The category selections -->
  <div class="category-box">
    <table id='category-row' class="category">
      @for (row of categoryRows; track row) {
      <tr>
        @for (category of row; track category) {
        <td [id]="category.id" class="clickable">
          <img [src]="category.icon" class="category-icon" alt="categry.id">
          <span (click)="changeCategory(category)">{{category.chinese}} - {{category.id}}</span>
        </td>
        }
      </tr>
      }
    </table>
  </div>

  <!-- The usage -->
  <ul id='usage-row' class="usage">
    <li>🏠 home - back to the first page</li>
    <li>🗃️ categories - select a category</li>
    <li><span class="fa-solid fa-computer-mouse mouse-color"></span> character - multi-choice</li>
    <li><span class="fa-solid fa-computer-mouse mouse-color"></span> word(s) - talk to App</li>
    <li><span class="fa-solid fa-volume-high speaker-color-green"></span> - speak Mandarin</li>
    <li><span class="fa-solid fa-volume-low speaker-color-blue"></span> - speak Cantonese</li>
    <li><span class="fa-solid fa-play speaker-color-green"></span> - speak English</li>
  </ul>
</div>

<!-- The main contents section -->
<div id='practice' class="contents">
  <div id='character-row' class="character-row">
    <div id='character-card' class="character-card">
      <p>
        <span id='character' class='character' (click)="draw()" title="Click to redraw the character"></span>
      </p>
      <p>
        <span id='english' #english class='english'>{{getEnglish()}}</span>
        <span class="fa-solid fa-play speaker" title="Speak English" (click)="speakEnglish('en-US')"></span>
        <span class="fa-solid fa-hand-point-right next-char" (click)="nextCharacter()" title="Next Character"></span>
        <span class="fa-solid fa-images next-char" (click)="buildMultiChoices()" title="Show multiple choices"></span>
      </p>
    </div>

    <!-- The word card phrases and sentence -->
    <div id='word-card' class='word-card'>
      <!-- The word row: phrases, sentence and their pronunciations -->
      <p id='next-character'>
        <span id='chinese' #chinese class="chinese" (click)="speechCheck(chinese.textContent!)"
          title="Talk to App">{{getChinese()}}</span>&nbsp;&nbsp;【<span id='pinyin'
          class="pinyin">{{getPinyin()}}</span>】
        <span class="fa-solid fa-volume-high mandarin" title="Speak Mandarin" (click)="speakChinese('zh-CN')"></span>
        <span class="fa-solid fa-volume-low cantonese" title="Speak Cantonese" (click)="speakChinese('yue-HK')"></span>
      </p>
      <p>
        <span id="phrase1" #phrase1 class="phrase break-line" title="Talk to App"
          (click)="speechCheck(phrase1.textContent!)">{{getPhrase1()}}</span>
        <span class="fa-solid fa-volume-high mandarin" title="Speak Mandarin" (click)="speakPhrase1('zh-CN')"></span>
        <span class="fa-solid fa-volume-low cantonese" title="Speak Cantonese" (click)="speakPhrase1('yue-HK')"></span>
        <span style='margin-right:40px'> </span>

        @if (getPhrase2()) {
        <span id="phrase2" #phrase2 class="phrase break-line" title="Talk to App"
          (click)="speechCheck(phrase2.textContent!)">{{getPhrase2()}}</span>
        <span class="fa-solid fa-volume-high mandarin" title="Speak Mandarin" (click)="speakPhrase2('zh-CN')"></span>
        <span class="fa-solid fa-volume-low cantonese" title="Speak Cantonese" (click)="speakPhrase2('yue-HK')"></span>
        <span style='margin-right:40px'> </span>
        }
      </p>
      <p>
        <span id="sentence" #sentence class="sentence break-line" title="Talk to App"
          (click)="speechCheck(sentence.textContent!)">{{getSentence()}}</span>
        <span class="fa-solid fa-volume-high mandarin" title="Speak Mandarin" (click)="speakSentence('zh-CN')"></span>
        <span class="fa-solid fa-volume-low cantonese" title="Speak Cantonese" (click)="speakSentence('yue-HK')"></span>
      </p>

      <!-- This element is for getting voice and check pronunciation -->
      <div #sttCheck id='speech-check' class="speech-check">
        <div id='speech-sign-card' class='speech-sign-card' (click)="clearSpeechCheck()">
          <img id='recording' class="recording" title='recording' [src]="getSttImage()" alt="recording" />
        </div>
        <div #recognization id='recognization' class='speech-check-card sentence no-show'>
          <span id="input-text" class="sentence">{{ getSttText() }}</span><br>
          <span id="input-pinyin" class="pinyin">{{ getSttPinyin() }}</span>
          <!-- <p id="rec-error" class='error-message'>{{ getSttError() }}</p> -->
          <!-- This is for the error messages -->
          <div id='error-message' class="error-message" (click)="hideError()" title="Click to hide the error message">
            {{getErrorMessage()}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- This element is for multiple choice selections (pictures) -->
  <div id='multi-choice' class="contents picture-row">
    @for (choice of imageChoices; track choice) {
    <div [id]="choice.english" class="picture"><img class="picture-choice" [src]="choice.image"
        (click)="checkSelection(choice.english)" alt="choice"></div>
    }
  </div>

  <!-- The category selector for mobile -->
  <div style="margin-top:100px">
    <table id='mobile-category-row' class="category"></table>
  </div>
</div>