div.contents {
	margin-top: 10px;
	width: 100%;
	z-index: 1;
}

/** character row styles */
div.character-row {
	width: 100%;
	align-items: stretch;
	display: block;
	margin-top: 2%;
	margin-bottom: 2%;
	min-height: 290px;
}

.character-row:after {
	content: "";
	display: table;
	clear: both;
}

div.character-card {
	float: left;
	width: 34%;
	/* margin-top: 20px; */
}

div.word-card {
	float: left;
	width: 60%;
	padding-right: 20px;
	padding-top: 20px;
}

.speech-check {
	width: 80%;
	border: 2px solid lightgray;
	border-radius: 15px;
	min-height: 96px;
	padding: 4px;
}

.speech-check:after {
	content: "";
	display: table;
	clear: both;
}

div.speech-sign-card {
	float: left;
	width: 35%;
	padding-right: 15px;
	text-align: right;
}

div.speech-check-card {
	float: left;
	width: 65%;
}

/** the contents styles */
.character {
	cursor: pointer;
}

.chinese {
	font-family: KaiTi;
	font-size: 28px;
	color: darkgreen;
	cursor: pointer;
}

.english {
	font-family: 'Times New Roman', Times, serif;
	font-size: 28px;
	font-weight: bold;
	margin-left: 4%;
	color: darkgreen;
}

.next-char {
	font-size: 28px;
	color: darkgoldenrod;
	margin-left: 10%;
	cursor: pointer;
}

.pinyin {
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	color: darkgreen;
}

.phrase {
	font-family: KaiTi;
	font-size: 28px;
	color: darkgreen;
	cursor: pointer;
}

.sentence {
	font-family: KaiTi;
	font-size: 28px;
	color: darkgreen;
	cursor: pointer;
}

.speaker {
	font-size: 20px;
	color: darkgreen;
	margin-left: 12px;
	cursor: pointer;
}

.mandarin {
	font-size: 18px;
	color: darkblue;
	margin-left: 12px;
	cursor: pointer;
}

.cantonese {
	font-size: 20px;
	color: darkgreen;
	margin-left: 12px;
	cursor: pointer;
}

.recording {
	height: 100px;
	cursor: pointer;
}

.break-line {
	display: inline;
}

.hamburger {
	display: none;
}

/** the picture row styles */
div.picture-row {
	width: 100%;
	display: block;
	align-items: stretch;
	margin-bottom: 20px;
}

.picture {
	float: left;
	width: 25%;
}

.picture-choice {
	width: 90%;
	margin: auto;
	cursor: pointer;
}

/* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) { */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	body {
		width: 100%;
	}

	div.contents {
		width: 100%;
	}

	div.character-card {
		width: 100%;
		padding-left: 10px;
	}

	div.word-card {
		width: 100%;
		padding-left: 10px;
	}

	.speech-check {
		width: 98%;
		border: 2px solid lightgray;
		border-radius: 15px;
		min-height: 120px;
		padding: 4px;
		display: none;
	}

	div.picture-row {
		width: 100%;
		padding-left: 10px;
		display: block;
		align-items: stretch;
	}
}