header {
  padding: 6px;
}

img.binner {
  width: 92%;
  margin-left: 10px;
}

main {
  padding: 6px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  header {
    padding: 2px;
  }

  img.binner {
    width: 98%;
    margin-left: 2px;
  }

  main {
    padding: 2px;
  }
}